{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-flow",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-syntax-dynamic-import",
    "dev-expression",
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ],
    "react-hot-loader/babel",
    [
      "babel-plugin-root-import",
      {
        "rootPathSuffix": "src"
      }
    ]
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-remove-console",
        "transform-react-remove-prop-types"
      ]
    }
  }
}