////////////////////////////////////////
// Project variables
////////////////////////////////////////

//////////////////////////////////////// Breakpoints

// Common breakpoints
$breakpoint-xs: 400px

$breakpoint-s-minor: 480px
$breakpoint-s-major: 640px

$breakpoint-m-minor: 800px
$breakpoint-m-major: 960px

$breakpoint-l-minor: 1120px
$breakpoint-l-major: 1280px

$breakpoint-xl: 1360


//////////////////////////////////////// Colors

// Common colors
$c-bg-primary: #fcd8e5
$c-bg-secondary: #feebf1
$c-bg-light: #ffffff

$c-shadow-primary: #57606f
$c-shadow-secondary: transparentize($c-shadow-primary, .75)

$c-text-primary: #2f3640
$c-text-secondary: #82868c
$c-text-faded: #abaeb2
$c-text-light: #ffffff

$c-link-primary: #1585cf

$c-border-primary: #d5d6d8
$c-border-secondary: #f0f0f1
$c-border-light: #ffffff

$c-accent-primary: #f78fb3
$c-accent-primary-medium: #fcd8e5
$c-accent-primary-light: #feebf1

$c-accent-red: #ff6b6b
$c-accent-red-medium: #ffb9b9
$c-accent-red-light: #ffe1e1

$c-accent-orange: #fa983a
$c-accent-orange-medium: #fdd4ad
$c-accent-orange-light: #ffeddf

$c-accent-yellow: #feca57
$c-accent-yellow-medium: #fee3a5
$c-accent-yellow-light: #fff5df

$c-accent-green: #2ed573
$c-accent-green-medium: #b1efcb
$c-accent-green-light: #e2f9eb

$c-accent-blue: #45aaf2
$c-accent-blue-medium: #b6d6ff
$c-accent-blue-light: #d8edfc

$c-accent-purple: #9980fa
$c-accent-purple-medium: #d6cbfd
$c-accent-purple-light: #e7e7ff

$c-accent-pink: #f78fb3
$c-accent-pink-medium: #fcd8e5
$c-accent-pink-light: #feebf1

$c-gray-dark: #2f3640
$c-gray-medium: #82868c
$c-gray-light: #abaeb2
$c-gray-extra-light: #d5d6d8
$c-gray-ultra-light: #f0f0f1
$c-gray-hyper-light: #f8f8f9


//////////////////////////////////////// Fonts

// Common fonts
$f-sans: 'Montserrat', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif


//////////////////////////////////////// Base64 assets

// Common icons
